.fieldInfo {
    color: rgb(251,174,44);
    font-family: Biiter, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.commentBlock {
    background-color: #F6F7F9;
}

.main {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .main {
        width: 100%;
    }
}